.container__gaming {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #363636;
    width: 100%;
    height: 400px;
}

.box__gaming {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 200px;
    height: 200px;
}

.box__gaming:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 400px;
    height: 200px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.content img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.content img.stats {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.content h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #ff52b4;
    margin-bottom: 20px;
}
.content p {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
}

.cod h3 {
    color: #1ed5c3;
}

.gameplay {
    width: 400px;
    height: auto;
    position: absolute;
    object-fit: contain;
    z-index: 1;
    -webkit-box-shadow: inset -1px 3px 8px 5px #ff52b4, 2px 5px 16px 0px #ff26a1,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset -1px 3px 8px 5px #ff52b4, 2px 5px 16px 0px #ff26a1,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.gameplay-cod {
    width: 400px;
    height: auto;
    position: absolute;
    object-fit: contain;
    z-index: 1;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1ed5c3, 2px 5px 16px 0px #16a597,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset -1px 3px 8px 5px #1ed5c3, 2px 5px 16px 0px #16a597,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.banner__container {
    width: 100%;
    height: 230px;
}

.banner img {
    width: 100%;
    height: 230px;
    object-fit: fill;
}

@media (max-width: 1024) {
    .box__gaming > video {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 860px) {
    .container__gaming {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: #363636;
        width: 100%;
        height: 100vh;
    }

    .box__gaming {
        width: 80%;
        height: 0px;
    }

    .gameplay,
    .gameplay-cod {
        width: 250px;
    }

    .content h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .content p {
        font-size: 1rem;
        margin-bottom: 50px;
    }

    .content img {
        margin-top: 50px;
    }
    .content img.stats {
        margin-bottom: 10px;
        display: none;
    }
}

@media (max-width: 425px) {
    .box__gaming:nth-child(2) {
        display: none;
    }

    .content h3 {
        font-size: 1.2rem;
        margin-top: 20px;
    }

    .content p {
        font-size: 1.1rem;
        margin-bottom: 60px;
    }
}
